<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
<!--
    This is a copy from EXT:fluid_styled_content.

    Adjustments for URL fragment rendering:
    1. Added new arguments to be transferred to the main header partial.
       Otherwise, they would not be available there.
-->
</f:comment>

<f:if condition="{data.header_layout} != 100">
	<f:if condition="{data.header} || {data.subheader} || {data.date}">
		<header>
			<f:render partial="Header/Header" arguments="{
				header: data.header,
				layout: data.header_layout,
				positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position}\')}',
				link: data.header_link,
				fragmentIdentifier: data.tx_content_slug_fragment,
				renderAnchorLink: data.tx_content_slug_link,
				default: settings.defaultHeaderType}" />
			<f:render partial="Header/SubHeader" arguments="{
				subheader: data.subheader,
				layout: data.header_layout,
				positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position}\')}',
				default: settings.defaultHeaderType}" />
			<f:render partial="Header/Date" arguments="{
				date: data.date,
				positionClass: '{f:if(condition: data.header_position, then: \'ce-headline-{data.header_position}\')}'}" />
		</header>
	</f:if>
</f:if>
</html>
